# Topic: Cross Validation in predictive modeling


## Problem

When you do `train-test-split` you are sampling randomly to identify the train and test datasets.

![img](train-test-examp.png)

But what about **sampling error**? What if you get a **BAD SAMPLE**?!

![bad](https://media.giphy.com/media/cJjQJWU70DSuHzx4oR/giphy.gif)

## Our Task
![map](map.png) 

Build a multivariate Ordinary Least Squares regression model to predict "TARGET_deathRate"with a more robust model validation method, cross-validation.<br>
We have data aggregated from a number of sources including the American Community Survey (census.gov), clinicaltrials.gov, and cancer.gov. Most of the data preparation process can be viewed here.


## Learning Goals:

- Describe the elements of  K-fold Cross validation 
- Recognize how K-fold cross validation is superior to normal validation testing
- Apply K-fold cross validation to a dataset
- Apply K-fold cross validation to Module 1 project

## Activation
Let us talk about `training` and `testing.`

![train-test](why-train-test.png)

We split to prevent:

![fit-pit](overfit_underfit.png)
(found on [this blog](https://rmartinshort.jimdo.com/2019/02/17/overfitting-bias-variance-and-leaning-curves/)). 

But what if by random chance of your training dataset split - your training data isn't representative? what if it includes some wacky data?

![but what if](bad-split.png)

k-fold averages that out, and also keeps from “overfitting” and “underfitting.”

## Learning Goal 1: Describe the elements of K-fold Cross validation 

In the context of modeling, K-fold cross validation sits under the Stage 6- Predictive Modeling, in the 7 stage Data Science Lifecycle.

![chart](chart.png)

K-fold cross validation essentially helps us increase the accuracy of any Machine learning model. It does this by taking the average of the results of training and testing data from given dataset. This in turn is by dividing the dataset into several (“k”) folds. Then, Training data on “k-1” folds and testing on “kth” fold. Repeat this “k” times and average the result.

![cross-val](cross-val-graphic.png)
(graphic from [here](https://towardsdatascience.com/cross-validation-70289113a072) )

We can compare the resultant accuracy by taking the average of accuracy calculated during each of the folds. This tends to give a more real picture of the machine learning model performance. 

The cross validation technique can be used to compare the performance of different machine learning models on the same data set. To understand this point better, let us consider the following example.

Go through [this blog](https://towardsdatascience.com/5-reasons-why-you-should-use-cross-validation-in-your-data-science-project-8163311a1e79) to hit the topic home.

## Learning Goal 2:  Explain to Greg
![img2](thinking.jpeg)

You've hired Greg to build models for you. He's stressed and trying to tell you there isn't enough time to do a cross validation and that one train-test split should be enough.

Write down what you would say to Greg and then tell it to your neighbor.

## Learning Goal 3: Applying k-fold cross validation

### Try the code in each of these articles:

### One half of room:
This is a good tech blog:

[this blog is a good one](https://machinelearningmastery.com/k-fold-cross-validation/)

### Other half of room:
[another good example](https://medium.com/datadriveninvestor/k-fold-cross-validation-6b8518070833)


### Task: 
Write the most important  parts of code from each post on the board & then discuss

- What did you need to specify?
- What new libraries did you use?

## Build model to predict cancer


```
cancer_rates = pd.read_csv('https://query.data.world/s/5ylxfjp6oymzhuhhzwmlbqxzcw6etz')

households = pd.read_csv('https://download.data.world/s/3nopgtdm2fwjgidovkostutkfitlps')
```

[Here is the documentatiopn](https://data.world/exercises/linear-regression-exercise-1/workspace/data-dictionary) for this data.

Integrate this new knowledge of k-fold cross validation to build a model and calculate the average performance.

In [ ]:
#load the data
#look at the data
#maybe scale it 
#indentify a
#intialize linear regression
#decide how many folds that you want to try

In [2]:
import pandas as pd
cancer_rates = pd.read_csv('https://query.data.world/s/5ylxfjp6oymzhuhhzwmlbqxzcw6etz')
households = pd.read_csv('https://download.data.world/s/3nopgtdm2fwjgidovkostutkfitlps')

In [9]:
households.info()
cancer_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 4 columns):
statefips           3220 non-null int64
countyfips          3220 non-null int64
avghouseholdsize    3220 non-null float64
geography           3220 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 100.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 33 columns):
avganncount                3047 non-null float64
avgdeathsperyear           3047 non-null int64
target_deathrate           3047 non-null float64
incidencerate              3047 non-null float64
medincome                  3047 non-null int64
popest2015                 3047 non-null int64
povertypercent             3047 non-null float64
studypercap                3047 non-null float64
binnedinc                  3047 non-null object
medianage                  3047 non-null float64
medianagemale              3047 non-null float64
medianagefemale            3047 non-null float64
geography                  3047 non-null object
percentmarried             3047 non-null float64
pctnohs18_24               3047 non-null float64
pcths18_24                 3047 non-null float64
pctsomecol18_24            762 non-null float64
pctbachdeg18_24            3047 non-null float64
pcths25_over               3047 non-null float64
pctbachdeg25_over          3047 non-null float64
pctemployed16_over         2895 non-null float64
pctunemployed16_over       3047 non-null float64
pctprivatecoverage         3047 non-null float64
pctprivatecoveragealone    2438 non-null float64
pctempprivcoverage         3047 non-null float64
pctpubliccoverage          3047 non-null float64
pctpubliccoveragealone     3047 non-null float64
pctwhite                   3047 non-null float64
pctblack                   3047 non-null float64
pctasian                   3047 non-null float64
pctotherrace               3047 non-null float64
pctmarriedhouseholds       3047 non-null float64
birthrate                  3047 non-null float64
dtypes: float64(28), int64(3), object(2)
memory usage: 785.6+ KB

In [17]:
cancer_rates.head()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [35]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
import matplotlib.pyplot as plt
X = cancer_rates[['avganncount']]
y = cancer_rates['target_deathrate']
cv_5_results = np.mean(cross_val_score(linreg, X,  y, cv=5, scoring="neg_mean_squared_error"))
cv_10_results = np.mean(cross_val_score(linreg, X, y, cv=10, scoring="neg_mean_squared_error"))
cv_20_results = np.mean(cross_val_score(linreg, X, y, cv=20, scoring="neg_mean_squared_error"))

In [36]:
print(cv_5_results)
print(cv_10_results)
print(cv_20_results)

-764.0498763494331
-765.5585490425608
-761.5520479838815

In [31]:
cancer_rates[['avganncount']]

      avganncount
0     1397.000000
1      173.000000
2      102.000000
3      427.000000
4       57.000000
5      428.000000
6      250.000000
7      146.000000
8       88.000000
9     4025.000000
10     113.000000
11     740.000000
12      55.000000
13    3438.000000
14    2265.000000
15     251.000000
16    1390.000000
17      32.000000
18     305.000000
19    1081.000000
20     134.000000
21     958.000000
22      94.000000
23     499.000000
24     152.000000
25      80.000000
26     164.000000
27     564.000000
28      50.000000
29      70.000000
...           ...
3017    87.000000
3018  1962.667684
3019  1962.667684
3020  1962.667684
3021  1962.667684
3022  1962.667684
3023  1962.667684
3024  1962.667684
3025  1962.667684
3026  1962.667684
3027  1962.667684
3028  1962.667684
3029  1962.667684
3030  1962.667684
3031  1962.667684
3032  1962.667684
3033  1962.667684
3034  1962.667684
3035  1962.667684
3036  1962.667684
3037  1962.667684
3038  1962.667684
3039  1962.667684
3040  1962.667684
3041  1962.667684
3042  1962.667684
3043  1962.667684
3044  1962.667684
3045  1962.667684
3046  1962.667684

[3047 rows x 1 columns]

### Assessment

Did they achieve all the learning goals from the start? How do you confirm? You can use many different methods:

Review questions? (make into quiz)

- What is “training” and “testing” 
- What is underfitting?
- What is overfitting?
- What is the data science lifecycle? (students should be able to articulate the 7 steps in the - pie chart above)
- What is k-fold cross validation?


Why is it useful?

### Reflection/Key Takeaways


In machine learning, it is always a good idea to play around with different predictive models and their parameters to arrive at the best choice. Fine-tuning your machine learning model is helpful in achieving good results, and of course, cross validation helps you know if you are on the right track to get a good predictive model.


_Limitations of Cross Validation_ <br>
For cross validation to give some meaningful results, the training set and the validation set are required to be drawn from the same population. Also, human biases need to be controlled, or else cross validation will not be fruitful.

_**Other Applications**_

_Compare Performance_<br>
Suppose you want to make a classifier for the MNIST data set, which consists of hand-written numerals from 0 to 9. You are considering using either K Nearest Neighbours (KNN) or Support Vector Machine (SVM). To compare the performance of the two machine learning models on the given data set, you can use cross validation. This will help you determine which predictive model you should choose working with for the MNIST data set.
Cross validation can also be used for selecting suitable parameters. The example mentioned below will illustrate this point well.

_Fine-tune Parameters_<br>
Suppose you have to build a K Nearest Neighbours (KNN) classifier for the MNIST data set. To use this classifier, you should provide an appropriate value of the parameter k to the classifier. Choosing the value of k intuitively is not a good idea (beware of overfitting!). You can play around with different values of the parameter k and use cross validation to estimate the performance of the predictive model corresponding to each k. You should finally go ahead with the value of k that gives the best performance of the predictive model on the given data set.
For the K Nearest Neighbours (KNN) classifier, you can even choose different metrics (default is ‘minkowski’ if you use ‘KNeighborsClassifier’ of sklearn). So you can use cross validation to determine which metric is the best for the data set you have.

_References_
- https://machinelearningmastery.com/k-fold-cross-validation/
- https://towardsdatascience.com/5-reasons-why-you-should-use-cross-validation-in-your-data-science-project-8163311a1e79
- https://www.researchgate.net/post/What_is_the_purpose_of_performing_cross-validation
- https://medium.com/datadriveninvestor/k-fold-cross-validation-6b8518070833
- https://www.cs.tau.ac.il/~nin/Courses/NC05/pr_l13.pdf
- https://magoosh.com/data-science/k-fold-cross-validation/