In [15]:
name={'Charles': [23.4, "Darwin"], 'Alan': [42.5, "Turing"], "Bill":[75,"Clinton"],'Richard':[15,"Williamson"]}

In [15]:
del name['Charles']
name

{'Alan': [42.5, 'Turing'],
 'Bill': [75, 'Clinton'],
 'Richard': [15, 'Williamson']}

In [16]:
ages=[]
for i in name:
    print(i)
    ages.append(name[i][0])
ages

Alan
Bill
Richard

[42.5, 75, 15]

In [26]:
ages=[4,5,6,1,2,3,8]
for i in range(len(ages)):
    count_less = 0
    count_more = 0
    for j in range(len(ages)):
        if ages[j] <= ages[i]:
            count_less = count_less+1
        if ages[j] >= ages[i]:
            count_more = count_more+1
    if count_less ==  int(len(ages)/2)+1:
        lower_median = ages[i]
    if count_more == int(len(ages)/2)+1:
        upper_median = ages[i]
        
median= (lower_median+upper_median)/2
print(median)

4.0

In [16]:
for i in name:
    print(i)

Charles
Alan
Bill
Richard

In [19]:
for i in name.items():
    print(i)

('Charles', [23.4, 'Darwin'])
('Alan', [42.5, 'Turing'])
('Bill', [75, 'Clinton'])
('Richard', [15, 'Williamson'])