# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/onivron/Documents/dc_ds_04_22_19/module_1/day_4_lecture_1_manipulating_with_pandas
total 128
drwxr-xr-x  10 onivron  staff    320 Apr 25 12:02 .
drwxr-xr-x  11 onivron  staff    352 Apr 25 09:26 ..
drwxr-xr-x   4 onivron  staff    128 Apr 25 12:02 .ipynb_checkpoints
-rw-r--r--   1 onivron  staff     95 Apr 17 18:12 ds_chars.csv
-rw-r--r--   1 onivron  staff  11328 Apr 17 10:51 heart.csv
drwxr-xr-x   4 onivron  staff    128 Apr 17 10:51 images
-rw-r--r--   1 onivron  staff  18959 Apr 25 12:02 manipulating_data_with_pandas-my_own_version.ipynb
-rw-r--r--   1 onivron  staff  18959 Apr 25 11:49 manipulating_data_with_pandas.ipynb
-rw-r--r--@  1 onivron  staff   3297 Apr 18 10:46 pre_process_animal_shelter_data.py
-rw-r--r--   1 onivron  staff    130 Apr 17 18:12 states.csv

In [2]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [6]:
# Call the .info() method on our dataset. What do you observe?
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [8]:
uci['sex'].value_counts()

1    207
0     96
Name: sex, dtype: int64

In [13]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()['fbs']

count    303.000000
mean       0.148515
std        0.356198
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: fbs, dtype: float64

In [14]:
uci['fbs'].value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [15]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [35]:
uci.iloc[1, [0, 1, 3]]

age          37.0
sex           1.0
trestbps    130.0
Name: 1, dtype: float64

In [32]:
uci.iloc[:, 2]

0      3
1      2
2      1
3      1
4      0
5      0
6      1
7      1
8      2
9      2
10     0
11     2
12     1
13     3
14     3
15     2
16     2
17     3
18     0
19     3
20     0
21     2
22     0
23     2
24     3
25     1
26     2
27     2
28     2
29     2
      ..
273    0
274    0
275    0
276    0
277    1
278    1
279    0
280    0
281    0
282    2
283    0
284    0
285    0
286    3
287    1
288    0
289    0
290    0
291    0
292    0
293    2
294    0
295    0
296    0
297    0
298    0
299    3
300    0
301    0
302    1
Name: cp, Length: 303, dtype: int64

#### The Axis Variable

In [17]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [36]:
uci['age'].value_counts()[0:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [37]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?<br>
`animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')`

Let's rename the columns to something a bit more friendly.

In [ ]:
animal_outcomes.columns
new_names = ['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s', 'animal', 'sex', 'age', 'breed', 'color']
animal_outcomes.columns = new_names

What are the breed `value_counts`?

How about outcome counts for dogs?

_Hint_ <br>
Remember we did filtering in a previous lesson like this:<br>
`customer_df.loc[customer_df["state"]=='OR']`

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [ ]:
def successor(x):
    return x + 1

In [ ]:
uci.applymap(successor).head()

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

We want to get the average age of animals, but the age variable is a mess.


Use a `map` to help change the dates from strings to datetime objects. 
- First use `map` to grab only the first 10 characters of date
- Second,  we can use `to_datetime` to convert the remaining characters to a datetime object

`animal_outcomes['date'] =  pd.to_datetime(animal_outcomes['date'], format='%m/%d/%Y')`

[for further reading on datetime formats, go here](http://strftime.org/)

- **Then** do the same to `dob` to convert it to datetime

 - **Create** a new variable `age_in_days` by subtracting `dob` from `date`

- Use `map` again to convert `age_in_days` to `years_old` with the `lambda` function `x.days/365`

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [ ]:
# Your code here

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').tail(10)

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### `pd.concat()`

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
pd.melt(ds_full, id_vars=)

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
 - drop everything but the intake date and the animal id
 - use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days_in_shelter variable
- create a new month_at_intake variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here

## Assessment & Reflection